<!DOCTYPE html>
<html><head><title>Romaneio</title></head>
<body>
    <h2>Romaneio - R C Castilholi Hardware LTDA</h2>
    <p>Data: {{ data }}</p>
    <table border="1">
        <tr><th>Nome</th><th>Nota</th><th>Rastreio</th><th>Quantidade</th></tr>
        {% for r in romaneios %}
        <tr><td>{{ r.nome }}</td><td>{{ r.nota }}</td><td>{{ r.rastreio }}</td><td>{{ r.quantidade }}</td></tr>
        {% endfor %}
    </table>
    <p>Total Coletado: {{ total }}</p>
    <p>Assinatura do Motorista: _____________________________</p>
</body></html>