<p><strong>Olá! Tudo bem?</strong></p>
<p>Sentimos muito pelo transtorno com o seu produto.<br>
Em casos como esse, você pode optar por <strong>troca ou cancelamento</strong> conforme sua preferência.</p>
<p>Já emitimos um código de postagem reversa para devolução gratuita pelos Correios:<br>
<strong>Código de devolução:</strong> AM387888418BR</p>
<p>Você tem até <strong>10 dias corridos</strong> para realizar o envio a partir da data de hoje.<br>
Assim que o produto retornar e for conferido, daremos sequência à troca ou reembolso.</p>
<p><strong>Ficamos à disposição para qualquer dúvida ou assistência.<br>Equipe Robô Hardware LTDA</strong></p>