<p><strong>Olá! Tudo bem?</strong></p>
<p>Constatamos aqui que o seu pedido foi <strong>entregue com sucesso</strong> pela <strong>transportadora Total Express</strong>, conforme o rastreamento abaixo:</p>
<p><strong>Código de rastreio:</strong> TXAS523689990tx<br>
<strong>URL para rastreamento:</strong> https://totalconecta.totalexpress.com.br/rastreamento/?codigo=TXAS523689990tx</p>
<p>Caso ainda não tenha recebido o produto, recomendamos verificar com outras pessoas no local de entrega (portaria, recepção ou familiares).<br>
Se continuar com dúvidas, estamos à disposição para ajudar.</p>
<p><strong>Agradecemos pela preferência!</strong><br>
<strong>Equipe Robô Hardware LTDA</strong></p>