<p><strong>Olá! Tudo bem?</strong></p>
<p>Verificamos que seu pedido está com atraso na entrega.<br>
Já estamos abrindo uma solicitação junto à <strong>transportadora Total Express</strong> para apurar o ocorrido.</p>
<p><strong>Código de rastreio:</strong> TXAS523798361tx<br>
<strong>URL para rastreamento:</strong> https://totalconecta.totalexpress.com.br/rastreamento/?codigo=TXAS523798361tx</p>
<p>Nos comprometemos a retornar com uma posição em até <strong>48 horas úteis</strong>.<br>
Agradecemos pela compreensão e paciência.</p>
<p><strong>Atenciosamente,<br>Equipe Robô Hardware LTDA</strong></p>