<p><strong>Olá! Tudo bem?</strong></p>
<p>Verificamos que o seu pedido foi enviado corretamente, porém o número indicado pela transportadora <strong>Total Express</strong> não foi localizado para a entrega.</p>
<p><strong>Código de rastreio:</strong> TXAS497364299tx<br>
<strong>URL para rastreamento:</strong> https://totalconecta.totalexpress.com.br/rastreamento/?codigo=TXAS497364299tx</p>
<p>Neste caso, você pode optar por <strong>cancelamento com estorno</strong> ou <strong>reenvio do produto</strong> com os dados de endereço revisados.<br>
Por favor, nos informe sua preferência para seguirmos com o atendimento.</p>
<p><strong>Atenciosamente,<br>Equipe Robô Hardware LTDA</strong></p>