<p><strong>Olá! Tudo bem?</strong></p>
<p>Lamentamos o transtorno. Verificamos que o seu pedido foi considerado <strong>extraviado</strong> pela <strong>transportadora Total Express</strong>.</p>
<p>Diante disso, já iniciamos o processo de <strong>cancelamento e estorno</strong> conforme o método de pagamento utilizado.</p>
<p>Caso necessário, segue o <strong>código de devolução</strong> para qualquer conferência adicional:<br>
<strong>Código de devolução:</strong> AM387888418BR</p>
<p><strong>Ficamos à disposição para qualquer dúvida ou suporte adicional.<br>Equipe Robô Hardware LTDA</strong></p>