<p><strong>Olá! Tudo bem?</strong></p>
<p>Verificamos aqui que o seu pedido está dentro do prazo estimado de entrega e segue em trânsito normalmente com a <strong>transportadora Total Express</strong>.</p>
<p>Você pode acompanhar o andamento da entrega acessando o site da Total Express e informando o código de rastreio abaixo:<br>
<strong>Código de rastreio:</strong> TXAS523384246tx<br>
<strong>URL para rastreamento:</strong> https://totalconecta.totalexpress.com.br/rastreamento/?codigo=TXAS523384246tx</p>
<p>Ficamos à disposição para qualquer dúvida ou suporte adicional.<br>
Agradecemos pela sua paciência e preferência!</p>
<p><strong>Atenciosamente,<br>Equipe Robô Hardware LTDA</strong></p>